body{
    color:  aqua ;
    background: black ;
    position: relative; 
left: 50%;
transform: translateX(-25%);
}



table, th, td {
    
  border: 1px solid white;
}

img{
    border: 1px solid white ;
    border-radius: 2px ;
}

